# file: src/docs/openapi.yaml

openapi: 3.0.0
info:
  title: Marketplace API Documentation (Final)
  version: 1.0.0
  description: Dokumentasi API untuk sistem Kalana Commerce, mencakup Auth, Produk, Cart, dan Multi-Order.
servers:
  - url: https://kalanacommerce.my.id/api
    description: Production
  - url: http://localhost:3000/api
    description: Development Server (Lokal)
  

# ==========================================================
# DEFINISI JALUR (PATHS)
# ==========================================================
paths:
  # --- 1. USER & AUTH ---
  /auth/register:
    post:
      tags:
        - 1. User Authentication
      summary: Registrasi User Baru
      security: [] # Tidak Butuh Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '201':
          description: User berhasil didaftarkan.
          
  /auth/login:
    post:
      tags:
        - 1. User Authentication
      summary: Login dan Mendapatkan JWT Token
      security: [] # Tidak Butuh Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLogin'
      responses:
        '200':
          description: Login berhasil, token JWT dikembalikan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: JSON Web Token untuk otorisasi.
            
  /auth/forgot-password:
    post:
      summary: Request OTP Reset Password
      tags:
        - 1. User Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
                  example: danirifqi79@gmail.com
      responses:
        '200':
          description: Kode OTP berhasil dikirim
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Kode OTP berhasil dikirim ke email.
        '500':
          description: Kesalahan Server (Gagal kirim email)

  /auth/reset-password:
    post:
      summary: Reset Password menggunakan OTP
      tags:
        - 1. User Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - otp
                - newPassword
              properties:
                email:
                  type: string
                  format: email
                  example: danirifqi79@gmail.com
                otp:
                  type: string
                  description: Kode 6 digit dari email
                  example: "123456"
                newPassword:
                  type: string
                  format: password
                  example: passwordBaruGanteng123
      responses:
        '200':
          description: Password berhasil diubah
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password berhasil diperbarui!
        '400':
          description: OTP salah atau sudah kadaluwarsa
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Kode OTP salah atau sudah kedaluwarsa.
        '500':
          description: Internal Server Error

  /me:
    get:
      tags:
        - 2. User Account & Addresses
      summary: Mendapatkan Profil User yang sedang Login (Requires JWT)
      security:
        - bearerAuth: [] # ⬅️ Butuh Auth JWT
      responses:
        '200':
          description: Profil user berhasil diambil, termasuk alamat default.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          description: Unauthorized (Token missing/invalid)
          
  /me/update:
    put:
      tags:
        - 2. User Account & Addresses
      summary: Memperbarui Data Profil (Nama, Email, No HP)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateInput'
      responses:
        '200':
          description: Profil berhasil diperbarui.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '422':
          description: Validasi gagal (format email salah, dll).
        '409':
          description: Email atau Nomor Telepon sudah digunakan.

  /me/update-photo:
    put:
      tags:
        - 2. User Account & Addresses
      summary: Update Foto Profil User
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data: # ⬅️ WAJIB pakai ini untuk upload file
            schema:
              type: object
              properties:
                image:
                  type: string
                  format: binary # ⬅️ Ini cara OpenAPI bilang "Ini adalah File"
      responses:
        '200':
          description: Foto berhasil diperbarui.

  /addresses:
    get:
      tags:
        - 2. User Account & Addresses
      summary: Mendapatkan SEMUA Alamat Milik User yang Login
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Daftar semua alamat user berhasil diambil.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressDetail'

    post:
      tags:
        - 2. User Account & Addresses
      summary: Menambahkan Alamat Baru
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressInput'
      responses:
        '201':
          description: Alamat berhasil dibuat.
        '422':
          description: Validasi Gagal.

  /addresses/{id}:
    parameters:
      - in: path
        name: id
        schema:
          type: string
          format: uuid
        required: true
        description: ID dari Alamat Pengguna.

    get:
      tags:
        - 2. User Account & Addresses
      summary: Mendapatkan Detail Alamat Tunggal
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Detail alamat berhasil diambil.
        '404':
          description: Alamat tidak ditemukan atau bukan milik user.

    put:
      tags:
        - 2. User Account & Addresses
      summary: Memperbarui Alamat
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressUpdateInput'
      responses:
        '200':
          description: Alamat berhasil diperbarui.
        '404':
          description: Alamat tidak ditemukan.

    delete:
      tags:
        - 2. User Account & Addresses
      summary: Menghapus Alamat (Soft Delete)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Alamat berhasil dihapus secara lunak.
        '404':
          description: Alamat tidak ditemukan.

  # ---  3. Product & Master Data ---
  /products:
    get:
      tags:
        -  3. Product & Master Data
      summary: Mendapatkan Semua Produk (Publik)
      security: [] # Tidak Butuh Auth
      responses:
        '200':
          description: Daftar produk berhasil diambil.
    
    post:
      tags:
        - 3. Product & Master Data
      summary: Tambah Produk Baru dengan Gambar
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name: { type: string }
                price: { type: number }
                productCode: { type: string }
                outletId: { type: string, format: uuid }
                categoryId: { type: string, format: uuid }
                unitId: { type: string, format: uuid }
                cogs: { type: number }
                image: { type: string, format: binary } # ⬅️ Field file gambar
      responses:
        '201':
          description: Produk berhasil dibuat.
  
  /products/{id}:
    get:
      tags:
        -  3. Product & Master Data
      summary: Mendapatkan Detail Produk Tunggal
      security: [] # Tidak Butuh Auth
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Detail produk berhasil diambil.
          
  /outlets:
    get:
      tags:
        -  3. Product & Master Data
      summary: Mendapatkan Semua Daftar Outlet Penjual
      security: [] # Data Publik
      responses:
        '200':
          description: Daftar semua outlet berhasil diambil.
          
  /outlets/{id}:
    get:
      tags:
        -  3. Product & Master Data
      summary: Mendapatkan Detail Outlet Tunggal
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: ID dari Outlet.
      responses:
        '200':
          description: Detail outlet berhasil diambil.

  /categories:
    get:
      tags:
        -  3. Product & Master Data
      summary: Mendapatkan Semua Daftar Kategori Produk
      security: [] # Data Publik
      responses:
        '200':
          description: Daftar semua kategori berhasil diambil.

  /categories/{id}:
    get:
      tags:
        -  3. Product & Master Data
      summary: Mendapatkan Detail Kategori Tunggal
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: ID dari Kategori.
      responses:
        '200':
          description: Detail kategori berhasil diambil.

  /units:
    get:
      tags:
        -  3. Product & Master Data
      summary: Mendapatkan Semua Daftar Units
      security: [] # Data Publik
      responses:
        '200':
          description: Daftar semua unit berhasil diambil.

  /units/{id}:
    get:
      tags:
        -  3. Product & Master Data
      summary: Mendapatkan Detail Unit Tunggal
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: ID dari Unit.
      responses:
        '200':
          description: Detail Unit berhasil diambil.
          
  # ⬅️ END: PENAMBAHAN OUTLETS DAN CATEGORIES
  # --- 4. Cart Management ---
  /carts:
    get:
      tags:
        - 4. Cart Management
      summary: Mendapatkan Semua Item Cart User
      security:
        - bearerAuth: [] # ⬅️ Butuh Auth JWT
      responses:
        '200':
          description: Daftar item keranjang (termasuk detail produk dan outlet) berhasil diambil.

  /carts/items:
    post:
      tags:
        - 4. Cart Management
      summary: Menambah Item Baru ke Cart (UPSERT)
      security:
        - bearerAuth: [] # ⬅️ Butuh Auth JWT
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartAddItem'
      responses:
        '200':
          description: Produk berhasil ditambahkan/diperbarui di keranjang.
        '404':
          description: Produk tidak ditemukan.

  /carts/items/{id}:
    patch:
      tags:
        - 4. Cart Management
      summary: Mengubah Kuantitas Item Cart (PATCH)
      security:
        - bearerAuth: [] # ⬅️ Butuh Auth JWT
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: ID dari CartItem yang akan diubah.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                quantity:
                  type: integer
                  minimum: 1
      responses:
        '200':
          description: Kuantitas item berhasil diubah.
        '404':
          description: Cart Item tidak ditemukan atau bukan milik user.
          
    delete:
      tags:
        - 4. Cart Management
      summary: Menghapus Item dari Cart
      security:
        - bearerAuth: [] # ⬅️ Butuh Auth JWT
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: ID dari CartItem yang akan dihapus.
      responses:
        '200':
          description: Item Cart berhasil dihapus.

  /carts/checkout:
    post:
      tags:
        - 4. Cart Management
      summary: Proses Checkout Keranjang
      description: Mengonversi item keranjang yang dipilih menjadi pesanan (Order) dan menghasilkan Snap Token Midtrans.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutRequest'
      responses:
        '201':
          description: Pesanan berhasil dibuat.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: boolean, example: true }
                  message: { type: string, example: "Pesanan berhasil dibuat. Silakan selesaikan pembayaran." }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id: { type: string, format: uuid }
                        orderCode: { type: string, example: "ORD-1735634650000-88" }
                        totalAmount: { type: number, example: 50000 }
                        paymentGroupId: {type: string, example: "PAY-42197091247"}
                        snapToken: { type: string, example: "7b89f..." }
                        snapRedirectUrl: { type: string, example: "https://app.sandbox.midtrans.com/snap/v2/vtweb/7b89f..." }
        '422':
          description: Validasi gagal (misal cartItemIds kosong).
        '500':
          description: Kesalahan internal server.
          
  /carts/checkout/direct:
    post:
      tags:
        - 4. Cart Management
      summary: Buy Now Checkout (Multi Outlet, tanpa Cart)
      description: >
        Checkout langsung tanpa menyimpan item ke cart.
        Mendukung multi item dan multi outlet dengan satu pembayaran Midtrans.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - items
              properties:
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - productVariantId
                      - quantity
                    properties:
                      productVariantId:
                        type: string
                        format: uuid
                        example: "a3f1d7b2-9c4e-4d3f-8b8e-abc123456789"
                      quantity:
                        type: integer
                        minimum: 1
                        example: 1
      responses:
        '201':
          description: Buy Now checkout berhasil
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Buy Now checkout berhasil
                  data:
                    type: array
                    description: Daftar order per outlet
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        orderCode:
                          type: string
                          example: INV-BN-OUT-123456
                        outletId:
                          type: string
                          format: uuid
                        totalAmount:
                          type: number
                          example: 50000
                        snapToken:
                          type: string
                        snapRedirectUrl:
                          type: string
        '401':
          description: Unauthorized
        '422':
          description: Invalid request body
        '500':
          description: Internal server error
  # --- 5. Order & Transaction ---
  /orders:
    get:
      tags:
        - 5. Order & Transaction
      summary: Mendapatkan Riwayat Pesanan User
      security:
        - bearerAuth: [] # ⬅️ Butuh Auth JWT
      responses:
        '200':
          description: Array riwayat pesanan berhasil diambil.

  /orders/{id}:
    get:
      tags:
        - 5. Order & Transaction
      summary: Mendapatkan Detail Pesanan Tunggal
      security:
        - bearerAuth: [] # ⬅️ Butuh Auth JWT
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
          description: ID dari Order yang ingin dilihat.
      responses:
        '200':
          description: Detail pesanan berhasil diambil.
        '404':
          description: Order tidak ditemukan atau bukan milik user.

  /chatbot:
    post:
      tags:
        - 6. AI Assistant
      summary: Chat dengan Asisten AI Toko Kalana 
      description: |
        AI akan merespon berdasarkan data produk yang tersedia di database. 
        Jika AI menyarankan pembelian, respon akan mengandung tag `<checkout>` berisi JSON.
        Dari Json tersebut yang diparsing menjadi Card Product Recommendation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: string
                  example: "Saya mau masak sup, ada bahan apa saja?"
      responses:
        '200':
          description: Respon dari AI berhasil didapatkan.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: boolean, example: true }
                  response: 
                    type: string
                    example: "Halo Dani! Anda bisa membuat sup dengan Wortel Brastagi dan Jamur Tiram yang sedang segar. <checkout>[{\"id\": \"uuid-1\", \"qty\": 1}]</checkout>"
        '401':
          description: Unauthorized (Token JWT tidak valid atau hilang).
        '500':
          description: Kesalahan pada API Groq atau internal server.


# ==========================================================
# KOMPONEN (Schemas & Security)
# ==========================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Masukkan token JWT dalam format "Bearer [token]"

  schemas:
    UserRegister:
      type: object
      required: [name, email, password]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        password: { type: string, minLength: 6 }
        phoneNumber: { type: string, minLength: 10 }
    
    UserLogin:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 6 }

    UserResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        email: { type: string, format: email }
        image: { type: string, nullable: true, example: "https://res.cloudinary.com/..." } 
        phoneNumber: { type: string }
        balance: { type: number }
        createdAt:
          type: string
          format: date-time
        # Alamat Default yang disertakan (max 1 item)
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/AddressDetail'
          description: Alamat default pengguna (hanya 1 item jika ada).
    UserUpdateInput:
      type: object
      description: Payload untuk memperbarui profil. Minimal kirim satu field.
      properties:
        name:
          type: string
          example: "Dani Rifqi Updated"
        email:
          type: string
          format: email
          example: "danirifqi.new@gmail.com"
        phoneNumber:
          type: string
          example: "081234567890"

    UserResponse:
      type: object
      properties:
        status: { type: boolean, example: true }
        statusCode: { type: integer, example: 200 }
        message: { type: string, example: "Success" }
        data:
          type: object
          properties:
            id: { type: string, format: uuid }
            name: { type: string }
            email: { type: string, format: email }
            image: { type: string, nullable: true } 
            phoneNumber: { type: string }
            balance: { type: number }
            createdAt: { type: string, format: date-time }
            addresses:
              type: array
              items:
                $ref: '#/components/schemas/AddressDetail'

    AddressDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
        userId:
          type: string
          format: uuid
        label: { type: string, example: "Rumah Utama" }
        recipientName: { type: string, example: "Nurhayati" }
        phoneNumber: { type: string, example: "08901234567" }
        street: { type: string, example: "Jl. Raya Mawar No. 5" }
        postalCode: { type: string, example: "55123" }
        provincesId: { type: string, example: "ID-JI" }
        citiesId: { type: string, example: "ID-JI-SBY" }
        isDefault: { type: boolean, example: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt: { type: string, format: date-time, nullable: true }

    AddressInput:
      type: object
      required: [label, recipientName, phoneNumber, street, postalCode, provincesId, citiesId, districtsId]
      properties:
        label: { type: string, example: "Kantor Cabang" }
        recipientName: { type: string, example: "Satria Tama" }
        phoneNumber: { type: string, example: "08901234567" }
        street: { type: string, example: "Gedung Sudirman Lt. 10" }
        postalCode: { type: string, example: "10220" }
        provincesId: { type: string, example: "ID-JK" }
        citiesId: { type: string, example: "ID-JK-JKT" }
        districtsId: { type: string, example: "ID-JK-JKTS" }
        isDefault: { type: boolean, example: false }
        long: { type: number, format: float }
        lat: { type: number, format: float }

    AddressUpdateInput:
      type: object
      properties:
        label: { type: string, example: "Home Baru" }
        recipientName: { type: string }
        phoneNumber: { type: string }
        street: { type: string }
        postalCode: { type: string }
        provincesId: { type: string }
        citiesId: { type: string }
        districtsId: { type: string }
        isDefault: { type: boolean }
        long: { type: number, format: float }
        lat: { type: number, format: float }
          
    CartAddItem:
      type: object
      required: [productVariantId, quantity]
      properties:
        productVariantId:
          type: string
          format: uuid
          description: ID Varian produk (misal ID untuk 1kg, 500gr, dll).
        quantity:
          type: integer
          minimum: 1
          description: Jumlah yang ingin ditambahkan (akan di-increment).
    

    ProductVariant:
      type: object
      properties:
        id: { type: string, format: uuid }
        variantName: { type: string, example: "1 Pack (250 gr)" }
        price: { type: number, example: 11000 }
        originalPrice: { type: number, example: 13000 }
        qtyMultiplier: { type: integer, example: 1 }
        product:
          type: object
          properties:
            name: { type: string, example: "Jamur Tiram Fresh" }
            
    CheckoutRequest:
      type: object
      required: [cartItemIds]
      properties:
        cartItemIds:
          type: array
          minItems: 1
          items:
            type: string
            format: uuid
          description: Daftar ID CartItem yang dipilih user untuk di-checkout.
        
        
